@using SideNotes.Extensions
@model Book
@{
    Layout = null;
}
<div class="toolbar_outer" id="toolbar">
    <a href="@Url.Action("Annotation", "Book", new {Id = Model.Id})#index" 
        rel="indexFrame" id="indexCommandLink">Оглавление</a>
    <br/>
    <br/>
    @if (ViewBag.IsAuthenticated == true)
    {
        <a href="@Url.Action("Annotation", "Book", new { Id = Model.Id })#bookmarks" 
            rel="bookmarksFrame" id="bookmarksCommandLink">Закладки</a>
        <br/>
        <br/>
    }
    <a href="@Url.Action("Annotation", "Book", new { Id = Model.Id })#annotation" 
            rel="annotationFrame" id="annotationCommandLink">Аннотация</a>
</div>
@LeftFrame.Render("Оглавление", "indexFrame", "indexFrameInner", Url.ActionAbsolute("Contents", "Book", new { Id = Model.Id }).ToString())
@if (ViewBag.IsAuthenticated == true)
{
    @LeftFrame.Render("Закладки", "bookmarksFrame", "bookmarksFrameInner", Url.ActionAbsolute("Bookmarks", "Book", new { Id = Model.Id }).ToString())
}
@LeftFrame.Render("Аннотация", "annotationFrame", "annotationFrameInner", Url.ActionAbsolute("AnnotationShort", "Book", new { Id = Model.Id }).ToString())
<script type="text/javascript">
    $(function () {
        $('#indexCommandLink, #bookmarksCommandLink, #annotationCommandLink')
        .attr('href', 'javascript:void(0)')
        .click(function () {
            initFrame($(this).attr('rel'));
        });
        
    });
</script>