@model LoginModel
@{
    ViewBag.Title = SideNotes.Resources.Login.Title;
}
<div id="main">
    <h2>@SideNotes.Resources.Login.Heading</h2>

@using (Html.BeginForm<LoginController>(x => x.LogIn(null, null, null), FormMethod.Post))
  {
		<fieldset>
            @Html.Hidden("returnUrl", (string)ViewBag.returnUrl)
			<br />
			@Html.LabelFor(x => x.Email, "E-mail")
			@Html.TextBoxFor(x => x.Email, new { placeholder = "alepush@gmail.com" })
            @Html.ValidationMessageFor(x => x.Email)

			<br />
			@Html.LabelFor(x => x.Password, @SideNotes.Resources.Login.PasswordFieldTitle)
			@Html.PasswordFor(x => x.Password, new { placeholder = @SideNotes.Resources.Login.PasswordPlaceholder })
			@Html.ValidationMessageFor(x => x.Password)
		</fieldset>
        if (ViewBag.ErrorMessage != null)
        {
		<div id="errorMessage" class="errorMessage">@ViewBag.ErrorMessage</div>
        }
		@Html.SubmitButton(null, @SideNotes.Resources.Login.SubmitButtonText)
  }
  </div>