@model RegisterModel
@{
    Layout = null;
}

<div class="lightbox" id="registerOrLoginBox">
    <a href="#" class="lightbox_close">x</a>
@using (Html.BeginForm<UserController>(x => x.Register(null, Request.Url.AbsoluteUri, null), FormMethod.Post,
    new { @class = "ajaxForm errorable redirectable", id = "registerOrLoginBoxForm" }))
{
		<fieldset>
			@Html.LabelFor(x => x.Name, SideNotes.Resources.Shared.RegisterOrLoginBoxNameFieldName)
			@Html.TextBoxFor(x => x.Name, new { placeholder = SideNotes.Resources.Shared.RegisterOrLoginBoxNamePlaceholder, @class = "requiredField" })
            <br/>
            @Html.ValidationMessageFor(x => x.Name)

			@Html.LabelFor(x => x.Email, SideNotes.Resources.Shared.EmailFieldName)
			@Html.TextBoxFor(x => x.Email, new { placeholder = SideNotes.Resources.Shared.EmailPlaceholder, @class = "requiredField" })
            <br/>
            @Html.ValidationMessageFor(x => x.Email)

			@Html.Label("Password", SideNotes.Resources.Shared.RegisterOrLoginBoxPasswordFieldName)
			@Html.PasswordFor(x => x.Password, new { placeholder = SideNotes.Resources.Shared.RegisterOrLoginBoxPasswordPlaceholder, @class = "requiredField" })
            <br/>
			@Html.ValidationMessageFor(x => x.Password)
		</fieldset>
		<div id="errorMessage" class="errorMessage"></div>
		@Html.SubmitButton(null, SideNotes.Resources.Shared.RegisterOrLoginBoxRegisterButtonText, new { @class = "submitButton" })
}
        <label>@SideNotes.Resources.Shared.RegisterOrLoginBoxOrMessage <a href="#" class="showLightBox_link" rel="loginBox">@SideNotes.Resources.Shared.RegisterOrLoginBoxSignInLinkText</a></label>
  </div>