@model RegisterModel
@{
    Layout = null;
}

<div class="lightbox" id="registerBox">
    <a href="#" class="lightbox_close">x</a>
@using (Html.BeginForm<UserController>(x => x.Register(null, Request.Url.AbsoluteUri, null), FormMethod.Post,
    new { @class = "ajaxForm errorable redirectable", id = "registerBoxForm" }))
  {
		<fieldset>
			@Html.LabelFor(x => x.Name, SideNotes.Resources.Shared.RegisterBoxNameFieldName)
			@Html.TextBoxFor(x => x.Name, new { placeholder = SideNotes.Resources.Shared.RegisterBoxNamePlaceholder, @class = "requiredField" })
            <br/>
            @Html.ValidationMessageFor(x => x.Name)

			@Html.LabelFor(x => x.Email, SideNotes.Resources.Shared.EmailFieldName)
			@Html.TextBoxFor(x => x.Email, new { placeholder = SideNotes.Resources.Shared.EmailPlaceholder, @class = "requiredField" })
            <br/>
            @Html.ValidationMessageFor(x => x.Email)

			@Html.Label("Password", SideNotes.Resources.Shared.RegisterBoxPasswordFieldName)
			@Html.PasswordFor(x => x.Password, new { placeholder = SideNotes.Resources.Shared.RegisterBoxPasswordPlaceholder, @class = "requiredField" })
            <br/>
			@Html.ValidationMessageFor(x => x.Password)
		</fieldset>
		<div id="errorMessage" class="errorMessage"></div>
		@Html.SubmitButton(null, SideNotes.Resources.Shared.RegisterBoxRegisterButtonText, new { @class = "submitButton" })
  }
  </div>