@model NotificationSettingsModel
@{
    ViewBag.Title = SideNotes.Resources.Shared.UpdateNotificationSettingsViewTitle;
}
<div id="main">
<div>@UserAvatar.Large(ViewBag.CurrentUser, "user_avatar")</div>

<h2>@SideNotes.Resources.Shared.UpdateNotificationSettingsViewHeading</h2>

@using (Html.BeginForm<UserController>(x => x.UpdateNotificationSettings(null, null), FormMethod.Post))
  {
	<fieldset>
        <div class="clear">
        @Html.CheckBoxFor(x => x.NotifyAuthorCommentReplied)
		@Html.LabelFor(x => x.NotifyAuthorCommentReplied, SideNotes.Resources.Shared.UpdateNotificationSettingsViewNotifyReplyFieldName)
		</div>
	</fieldset>
	@Html.SubmitButton(null, SideNotes.Resources.Shared.UpdateNotificationSettingsViewSaveButtonText, new { @class = "submitButton" })
  }		
  </div>