@model ChangePasswordModel
@{
    Layout = null;
}
<div class="lightbox" id="changePasswordBox">
    <a href="#" class="lightbox_close">x</a>
@using (Html.BeginForm<UserController>(x => x.ChangePassword(null, null), FormMethod.Post,
    new { @class = "ajaxForm errorable closable", id = "passwordBoxForm" }))
  {
		<fieldset>
			@Html.LabelFor(x => x.OldPassword, SideNotes.Resources.User.ChangePasswordBoxCurrentPasswordFieldName)
			@Html.PasswordFor(x => x.OldPassword)
            @Html.ValidationMessageFor(x => x.OldPassword)

			<br />
			@Html.LabelFor(x => x.NewPassword, SideNotes.Resources.User.ChangePasswordBoxNewPasswordFieldName)
			@Html.PasswordFor(x => x.NewPassword)
            @Html.ValidationMessageFor(x => x.NewPassword)
            
			<br />
			@Html.LabelFor(x => x.ConfirmNewPassword, SideNotes.Resources.User.ChangePasswordBoxConfirmPasswordFieldName)
			@Html.PasswordFor(x => x.ConfirmNewPassword)
            @Html.ValidationMessageFor(x => x.ConfirmNewPassword)
		</fieldset>
		<div id="errorMessage" class="errorMessage"></div>
		@Html.SubmitButton(null, SideNotes.Resources.User.ChangePasswordBoxSubmitButtonText, new { @class = "submitButton" })
  }
</div>

