@model ChangePasswordModel
@{
    ViewBag.Title = SideNotes.Resources.User.ChangePasswordViewChangePasswordTitle;
}
<div id="main">
<h2>@SideNotes.Resources.User.ChangePasswordViewChangePasswordHeading</h2>

@using (Html.BeginForm<UserController>(x => x.ChangePassword(null, null),
      FormMethod.Post,
      new
      { @class = "ajaxForm errorable redirectable",
          id = "passwordBoxForm"
      }))
{
		<fieldset>
			@Html.LabelFor(x => x.OldPassword, SideNotes.Resources.User.ChangePasswordViewCurrentPasswordFieldName)
			@Html.PasswordFor(x => x.OldPassword)
            @Html.ValidationMessageFor(x => x.OldPassword)

			<br />
			@Html.LabelFor(x => x.NewPassword, SideNotes.Resources.User.ChangePasswordViewNewPasswordFieldName)
			@Html.PasswordFor(x => x.NewPassword)
            @Html.ValidationMessageFor(x => x.NewPassword)
            
			<br />
			@Html.LabelFor(x => x.ConfirmNewPassword, SideNotes.Resources.User.ChangePasswordViewConfirmPasswordFieldName)
			@Html.PasswordFor(x => x.ConfirmNewPassword)
            @Html.ValidationMessageFor(x => x.ConfirmNewPassword)
		</fieldset>
		<div id="errorMessage" class="errorMessage">@ViewBag.ErrorMessage</div>
		@Html.SubmitButton(null, SideNotes.Resources.User.ChangePasswordViewSubmitButtonText)
}
</div>