@using SideNotes.Extensions;
@using System.Web.Routing;
@model List<RecentCommentModel>
    @{
        Layout = null;
    }
    @foreach (var item in Model)
    {
        <li class="commentList_item">
            <div class="book">
                <span class="book_date">@item.comment.DateCreated.ToString("d MMMM")</span>
                <h3 class="book_author_list">@item.book.Author</h3>
                <a href="@Url.Action("Annotation", "Book", new { Id = item.book.Id}, true)" class="book_cover_link">
                    @BookAvatar.Small(item.book, "book_cover")
                </a>
                <h3 class="book_name">@item.book.Title</h3>
                <div class="comment">
                    <div class="prop" style="height:4em"></div>
                    <a href="@Url.Action("View", "Book", new {Id = item.book.Id, skip = item.paragraph.OrderNumber - 1 }, true)">@item.comment.Text</a>
                    <div class="clearBoth"></div>
                </div>
                <div class="freshCommentsItem_Controls_layout">
                    @if (item.commentCount > 1)
                    {
                        <div class="commentCounter_container">@SideNotes.Resources.User.CommentsPageMoreFromThisUserMessage <a href="@Url.Action("CommentsByUser", "Book", new { BookId = item.book.Id, UserId = ViewBag.UserId }, true)">@(item.commentCount - 1) @InclineService.Comment(@item.commentCount - 1)</a></div>
                    }
                    <div class="toTextButton">
                        <a href="@Url.Action("View", "Book", new { Id = item.book.Id, skip = item.paragraph.OrderNumber - 1 }, true)" class="toTextButtonLink">@SideNotes.Resources.User.CommentsPageReadFromHereLinkText</a>
                    </div>
                </div>
                @* @if (ViewBag.IsAuthenticated == true)
        {
            if (!item.comment.IsPrivate)
            {
                <a href="@Url.Action("CommentsThread", "Book", new { headCommentId = item.comment.Id }, true)"
                    class="reply showLightBox_link" headCommentId="@item.comment.Id" rel="addCommentBox">@SideNotes.Resources.User.CommentsPageReplyLinkText</a>
                int childrenCount = @item.comment.GetChildCommentsCount();
                if (childrenCount > 0)
                {
                <a href="@Url.Action("CommentsThread", "Book", new { headCommentId = item.comment.Id }, true)" class="threadLink">@SideNotes.Resources.User.CommentsPageReadBranchLinkText (@childrenCount)</a>
                }
            }
            else
            {
                <span>@SideNotes.Resources.User.CommentsPageHiddenMessage</span>
            }
        }*@
            </div>
        </li>
    }
