@model EditProfileModel
@{
    Layout = null;
}
<div class="lightbox" id="completeRegistrationBox">
    <a href="#" class="lightbox_close">x</a>
    @{ string callbackUri = ViewBag.CallbackUri; }
@using (Html.BeginForm<UserController>(x => x.CompleteExternalRegistration(null, callbackUri, null), FormMethod.Post,
    new { @class = "ajaxForm errorable redirectable", id = "completeRegistrationBoxForm" }))
  {
		<fieldset>
            @Html.LabelFor(x => x.Name, SideNotes.Resources.User.CompleteRegistrationBoxNameFieldName)
			@Html.TextBoxFor(x => x.Name, new { placeholder = SideNotes.Resources.User.CompleteRegistrationBoxNamePlaceholder, @class = "requiredField", value = Model.Name })
            @Html.ValidationMessageFor(x => x.Name)
            <br />
			@Html.LabelFor(x => x.Email, "E-mail")
			@Html.TextBoxFor(x => x.Email, new { placeholder = SideNotes.Resources.User.CompleteRegistrationBoxEmailPlaceholder, @class = "requiredField", value = Model.Email })
            @Html.ValidationMessageFor(x => x.Email)
		</fieldset>
		<div id="errorMessage" class="errorMessage"></div>
		@Html.SubmitButton(null, SideNotes.Resources.User.CompleteRegistrationBoxSubmitButtonText, new { @class = "submitButton" })
  }
</div>

