@model EditProfileModel
@{
    ViewBag.Title = SideNotes.Resources.User.EditProfileViewTitle + " - " + ViewBag.CurrentUser.Name;
}
<div id="main">
<h2>@SideNotes.Resources.User.EditProfileViewHeading - @ViewBag.CurrentUser.Name</h2>

<div>@UserAvatar.Large(ViewBag.CurrentUser, "user_avatar")</div>

<div>@ViewBag.CurrentUser.Name</div>
<div>@ViewBag.CurrentUser.Email</div>

@using (Html.BeginForm<UserController>(x => x.EditProfile(null, null), FormMethod.Post))
  {
<fieldset>
    @Html.LabelFor(x => x.Name, SideNotes.Resources.User.EditProfileViewNameFieldName)
    @Html.TextBoxFor(x => x.Name, new { placeholder = SideNotes.Resources.User.EditProfileViewNamePlaceholder, value = Model.Name })
    @Html.ValidationMessageFor(x => x.Name)

    <br />
    @Html.LabelFor(x => x.Email, "E-mail")
    @Html.TextBoxFor(x => x.Email, new { placeholder = SideNotes.Resources.User.EditProfileViewEmailPlaceholder, value = Model.Email })
    @Html.ValidationMessageFor(x => x.Email)

    <br />
    @Html.LabelFor(x => x.UrlName, SideNotes.Resources.User.EditProfileViewUrlNameFieldName)
    @Html.TextBoxFor(x => x.UrlName, new { placeholder = SideNotes.Resources.User.EditProfileViewUrlNamePlaceholder, value = Model.UrlName })
    @Html.ValidationMessageFor(x => x.UrlName)
</fieldset>
		<div id="errorMessage" class="errorMessage"></div>
		@Html.SubmitButton(null, SideNotes.Resources.User.EditProfileViewSubmitButtonText)
  }
  </div>