@model EditProfileModel
@{
    Layout = null;
}
<div class="lightbox" id="editProfileBox">
    <a href="#" class="lightbox_close">x</a>
@using (Html.BeginForm<UserController>(x => x.EditProfile(null, null), FormMethod.Post,
    new { @class = "ajaxForm errorable redirectable", id = "editProfileBoxForm" }))
  {
		<fieldset>
            @Html.LabelFor(x => x.Name, SideNotes.Resources.User.EditProfileBoxNameFieldName)
			@Html.TextBoxFor(x => x.Name, new { placeholder = SideNotes.Resources.User.EditProfileBoxNamePlaceholder, @class = "requiredField", value = Model.Name })
            @Html.ValidationMessageFor(x => x.Name)
            <br />
			@Html.LabelFor(x => x.Email, "E-mail")
			@Html.TextBoxFor(x => x.Email, new { placeholder = SideNotes.Resources.User.EditProfileBoxEmailPlaceholder, @class = "requiredField", value = Model.Email })
            @Html.ValidationMessageFor(x => x.Email)
		</fieldset>
		<div id="errorMessage" class="errorMessage"></div>
		@Html.SubmitButton(null, SideNotes.Resources.User.EditProfileBoxSubmitButtonText, new { @class = "submitButton" })
  }
</div>

