@model List<User>
@{
    ViewBag.Title = "Читатели";
}
<div id="main">
<h2>Читатели</h2>

@Html.Partial("Pager")
<ul class="userList">
@foreach(var user in Model)
{
    <li class="userListItem userblock">
        <div class="prop" style="height:2em;"></div>
        <a href="@Url.Action("View", "User", new { Id = user.Id })" class="userblock_avatar_link">
            @UserAvatar.Small(user, "userblock_avatar")
        </a>
        <span><a href="@Url.Action("View", "User", new { Id = user.Id })" class="userblock_name">@user.Name</a></span>
        @if (ViewBag.CurrentUserId != user.Id && ViewBag.IsAuthenticated == true)
        {
            if (((List<int>)ViewBag.FriendIds).Contains(user.Id))
            {
                <form method="post" action="@Url.Action("RemoveFriend", "User")" class="ajaxForm reloadable">
                    <input type="hidden" name="UserId" value="@user.Id" />
                    <input type="submit" value="отписаться" class="followButton follow_off"/>
                </form>
            }
            else
            {
                <form method="post" action="@Url.Action("MakeFriend", "User")" class="ajaxForm reloadable">
                    <input type="hidden" name="UserId" value="@user.Id" />
                    <input type="submit" value="подписаться" class="followButton follow_on"/>
                </form>
            }
        }
        <div class="clearBoth"></div>
    </li>
}
</ul>
@Html.Partial("Pager")
</div>
