@model User
@{
    Layout = null;
}
@if (ViewBag.IsMyProfile == true && ViewBag.IsAuthenticated == true)
{
    <div class="socialProfilesContainer">
        <div class="socialProfileItem" id="facebookProfile">
            <img src="@Url.Content("~/Content/img/logo/facebook-16.gif")" alt="Facebook" class="socialNetworkLogo"/>
            @if (Model.FacebookProfileUrl != null)
            {
                <a href="@Model.FacebookProfileUrl">@Model.FacebookUsername</a>
            }
            else
            {
                @Html.ActionLink(SideNotes.Resources.User.MySocialProfilesAddProfileLinkText, "ProveAccount", "FacebookLogin",
                    new { callbackUri = Url.ActionAbsolute("View", "User", new {Id = Model.Id }) }, null)
            }
        </div>
        <div class="socialProfileItem" id="vkontakteProfile">
            <img src="@Url.Content("~/Content/img/logo/vkontakte-16.png")" alt="Vkontakte" class = "socialNetworkLogo"/>
            @if (Model.VkontakteProfileUrl != null)
            {
                <a href="@Model.VkontakteProfileUrl">@Model.VkontakteUsername</a>
            }
            else
            {
                @Html.ActionLink(SideNotes.Resources.User.MySocialProfilesAddProfileLinkText, "ProveAccount", "VkontakteLogin",
                    new { callbackUri = Url.ActionAbsolute("View", "User", new {Id = Model.Id }) }, null)
            }
        </div>
        <div class="socialProfileItem" id="twitterProfile">
            <img src="@Url.Content("~/Content/img/logo/twitter-16.gif")" alt="Twitter" class = "socialNetworkLogo"/>
            @if (Model.TwitterProfileUrl != null)
            {
                <a href="@Model.TwitterProfileUrl">@Model.TwitterUsername</a>
            }
            else
            {
                @Html.ActionLink(SideNotes.Resources.User.MySocialProfilesAddProfileLinkText, "ProveAccount", "TwitterLogin",
                    new { callbackUri = Url.ActionAbsolute("View", "User", new {Id = Model.Id }) }, null)
            }
        </div>
        <div class="socialProfileItem" id="yandexProfile">
            <img src="@Url.Content("~/Content/img/logo/yandex.png")" alt="Yandex" class = "socialNetworkLogo"/>
            @if (Model.YandexProfileUrl != null)
            {
                <a href="@Model.YandexProfileUrl">@Model.YandexUsername</a>
            }
            else
            {
                @Html.ActionLink(SideNotes.Resources.User.MySocialProfilesAddProfileLinkText, "ProveAccount", "YandexLogin",
                    new { callbackUri = Url.ActionAbsolute("View", "User", new {Id = Model.Id }) }, null)
            }
        </div>
        <div class="socialProfileItem" id="livejournalProfile">
            <img src="@Url.Content("~/Content/img/logo/livejournal-16.gif")" alt="Livejournal" class="socialNetworkLogo"/>
            @if (Model.LivejournalProfileUrl != null)
            {
                <a href="@Model.LivejournalProfileUrl">@Model.LivejournalUsername</a>
            }
            else
            {
                @Html.ActionLink(SideNotes.Resources.User.MySocialProfilesAddProfileLinkText, "GetNickname", "LivejournalLogin",
                    new { callbackUri = Url.ActionAbsolute("View", "User", new {Id = Model.Id }) }, null)
            }
        </div>
    </div>
}
