@model User
@{
    Layout = null;
}
@if (ViewBag.IsMyProfile == true && ViewBag.IsAuthenticated == true)
{
    <div class="socialProfilesContainer">
        <div class="socialProfileItem" id="facebookProfile">
            <img src="@Url.Content("~/Content/img/logo/facebook-16.gif")" alt="Facebook" class="socialNetworkLogo"/>
            @if (Model.FacebookProfileUrl != null)
            {
                <a href="@Model.FacebookProfileUrl">@Model.FacebookUsername</a>
            }
            else
            {
                @Html.ActionLink(SideNotes.Resources.User.MySocialProfilesAddProfileLinkText, "ProveAccount", "FacebookLogin",
                    new { callbackUri = Url.ActionAbsolute("View", "User", new {Id = Model.Id }) }, null)
            }
        </div>
        <div class="socialProfileItem" id="twitterProfile">
            <img src="@Url.Content("~/Content/img/logo/twitter-16.gif")" alt="Twitter" class = "socialNetworkLogo"/>
            @if (Model.TwitterProfileUrl != null)
            {
                <a href="@Model.TwitterProfileUrl">@Model.TwitterUsername</a>
            }
            else
            {
                @Html.ActionLink(SideNotes.Resources.User.MySocialProfilesAddProfileLinkText, "ProveAccount", "TwitterLogin",
                    new { callbackUri = Url.ActionAbsolute("View", "User", new {Id = Model.Id }) }, null)
            }
        </div>
    </div>
}
