@model RegisterModel
@{
    ViewBag.Title = SideNotes.Resources.User.RegisterTitle;
}
<div id="main">
    <h2>@SideNotes.Resources.User.RegisterHeading</h2>

@using (Html.BeginForm<UserController>(x => x.Register(null, Request.Url.AbsoluteUri, null), FormMethod.Post))
  {
		<fieldset>
			@Html.LabelFor(x => x.Name, SideNotes.Resources.User.RegisterNameFieldName)
			@Html.TextBoxFor(x => x.Name, new { placeholder = SideNotes.Resources.User.RegisterNamePlaceholder })
            @Html.ValidationMessageFor(x => x.Name)

			<br />
			@Html.LabelFor(x => x.Email, "E-mail")
			@Html.TextBoxFor(x => x.Email, new { placeholder = SideNotes.Resources.User.RegisterEmailPlaceholder })
            @Html.ValidationMessageFor(x => x.Email)

			<br />
			@Html.Label("Password", SideNotes.Resources.User.RegisterPasswordFieldName)
			@Html.PasswordFor(x => x.Password, new { placeholder = SideNotes.Resources.User.RegisterPasswordPlaceholder })
			@Html.ValidationMessageFor(x => x.Password)
		</fieldset>
		<div id="errorMessage" class="errorMessage"></div>
		@Html.SubmitButton(null, SideNotes.Resources.User.RegisterSubmitButtonText)
  }
  </div>