@model User
@{
    ViewBag.Title = "Читатель";
}
<div id="main" class="profile @if (ViewBag.EditMode == true){@("profile_edit")}">
<div id="leftCol">
    @if (ViewBag.IsMyProfile == false && ViewBag.IsAuthenticated == true)
    {
        if (ViewBag.IsMyFriend == true)
        {
            <form method="post" action="@Url.Action("RemoveFriend", "User")">
                <input type="hidden" name="UserId" value="@Model.Id" />
                <input type="submit" value="отписаться" class="followButton follow_off"/>
            </form>
        }
        else
        {
            <form method="post" action="@Url.Action("MakeFriend", "User")">
                <input type="hidden" name="UserId" value="@Model.Id" />
                <input type="submit" value="подписаться" class="followButton follow_on"/>
            </form>
        }
    }
	<div id="profile_avatar_container">
        @UserAvatar.Large(Model, "profile_avatar")
        @if (ViewBag.EditMode == true)
        {
        <a href="@Url.Action("SetAvatar", "User")" rel="setAvatarBox" id="setAvatarLink" 
            class="showLightBox_link settingsList_item_link edit">Ред.</a>
        }
 	</div>
	<div id="contactList_container">
		<h3 id="contactList_header">
            <span for="contactList" class="@if(ViewBag.EditMode == true){@("editLabel")}">Контакты</span>
            @if (ViewBag.EditMode == true)
            {
            <span href="@Url.Action("EditProfile", "User")" rel="editProfileBox" id="EditProfileLink" 
                class="showLightBox_link edit">Ред.</span>
            }
            
        </h3>
		<ul id="contactList">
            @if (!String.IsNullOrEmpty(Model.Email))
            {
			<li class="contactList_item contactList_item_email">
				<a href="mailto:@Model.Email" class="contactList_item_link">Email: @Model.Email</a>
			</li>
            }
            @if (ViewBag.EditMode == true && Model.Login != Model.Email && Model.AccountSource == (int)AccountSource.SideNotes)
            {
			<li class="contactList_item">
				<a href="#" class="contactList_item_link">Логин: @Model.Login</a>
			</li>
            }
            @if (Model.FacebookProfileUrl != null)
            {
			<li class="contactList_item contactList_item_facebook">
				<a href="@Model.FacebookProfileUrl" class="contactList_item_link">@Model.FacebookUsername</a>
			</li>
            }
            else if (ViewBag.IsMyProfile == true && ViewBag.IsAuthenticated == true)
            {
            <li class="contactList_item contactList_item_facebook">
				@Html.ActionLink("Добавить профиль", "ProveAccount", "FacebookLogin",
                                    new { callbackUri = Url.ActionAbsolute("View", "User", new { Id = Model.Id }) }, new { @class = "contactList_item_link" })
			</li>
            }
            @if (Model.TwitterProfileUrl != null)
            {
			<li class="contactList_item contactList_item_twitter">
				<a href="@Model.TwitterProfileUrl" class="contactList_item_link">@Model.TwitterUsername</a>
			</li>
            }
            else if (ViewBag.IsMyProfile == true && ViewBag.IsAuthenticated == true)
            {
            <li class="contactList_item contactList_item_twitter">
				@Html.ActionLink("Добавить профиль", "ProveAccount", "TwitterLogin",
                                    new { callbackUri = Url.ActionAbsolute("View", "User", new { Id = Model.Id }) }, new { @class = "contactList_item_link" })
			</li>
            }
            @if (Model.VkontakteProfileUrl != null)
            {
			<li class="contactList_item contactList_item_vkontakte">
				<a href="@Model.VkontakteProfileUrl" class="contactList_item_link">@Model.VkontakteUsername</a>
			</li>
            }
            else if (ViewBag.IsMyProfile == true && ViewBag.IsAuthenticated == true)
            {
            <li class="contactList_item contactList_item_vkontakte">
				@Html.ActionLink("Добавить профиль", "ProveAccount", "VkontakteLogin",
                                    new { callbackUri = Url.ActionAbsolute("View", "User", new { Id = Model.Id }) }, new { @class = "contactList_item_link" })
			</li>
            }
            @if (Model.YandexProfileUrl != null)
            {
			<li class="contactList_item contactList_item_yandex">
				<a href="@Model.YandexProfileUrl" class="contactList_item_link">@Model.YandexUsername</a>
			</li>
            }
            else if (ViewBag.IsMyProfile == true && ViewBag.IsAuthenticated == true)
            {
            <li class="contactList_item contactList_item_yandex">
				@Html.ActionLink("Добавить профиль", "ProveAccount", "YandexLogin",
                                    new { callbackUri = Url.ActionAbsolute("View", "User", new { Id = Model.Id }) }, new { @class = "contactList_item_link" })
			</li>
            }
            @if (Model.LivejournalProfileUrl != null)
            {
			<li class="contactList_item contactList_item_lj">
				<a href="@Model.LivejournalProfileUrl" class="contactList_item_link">@Model.LivejournalUsername</a>
			</li>
            }
            else if (ViewBag.IsMyProfile == true && ViewBag.IsAuthenticated == true)
            {
            <li class="contactList_item contactList_item_lj">
				@Html.ActionLink("Добавить профиль", "ProveAccount", "LivejournalLogin",
                                    new { callbackUri = Url.ActionAbsolute("View", "User", new { Id = Model.Id }) }, new { @class = "contactList_item_link" })
			</li>
            }
		</ul>
	</div>
@if (ViewBag.EditMode == true)
{
    <div id="settingsList_container">
		<h3 id="settingsList_header"><label for="settingsList" class="editLabel">Настройки</label></h3>
		<ul id="settingsList">
			<li class="settingsList_item">
				@Html.ActionLink("Изменить пароль", "ChangePassword", "User", null,
                    new { id = "ChangePasswordLink", @class = "showLightBox_link settingsList_item_link", rel = "changePasswordBox" })
			</li>
            <li class="settingsList_item">
				@Html.ActionLink("Уведомления", "UpdateNotificationSettings", "User", null,
                    new { id = "NotificationSettingsLink_Profile", @class = "showLightBox_link settingsList_item_link", rel = "notificationSettingsBox" })
			</li>
		</ul>
	</div>
}
</div>
<div id="centerCol">
    <h1 id="profile_name" class="userblock_name">
        @if (ViewBag.EditMode == true)
        {
            <span class="editButton">
                <a href="@Url.Action("EditProfile", "User")" rel="editProfileBox" id="EditNameLink" 
                    class="showLightBox_link edit">Ред.</a>
            </span>
        }
        @Model.Name</h1>
        <div class="RecentCommentsContainer">
            <h2><label for="freshCommentsList">Cвежие комментарии к прочитанному</label></h2>
            @Html.Action("RecentComments", "User", new { Id = Model.Id })
        </div>
    @{
        var booksReadCount = Model.CountBooksRead();
        if (booksReadCount > 0){
        <div class="nowReadList_container">
            <h2>Сейчас читает</h2>
            @Html.Action("RecentReadBooks", "User", new { Id = Model.Id })
        </div>
        }
    }
   @* @Html.Action("AllReadBooks", "User", new { Id = Model.Id })*@
</div>
<div id="rightCol">
    @if (Model.HasComments())
    {
    <div class="bestComment_container">
        <h2>Лучший комментарий</h2>
        @Html.Action("BestComment", "User", new { Id = Model.Id })
    </div>
    }
    @if (Model.Friends.Count > 0)
    {
        <div id="interlocutorList_container">
            <h2>Cобеседники <a href="@Url.Action("Index", "User")" class="adduser">Добавить</a></h2>
            @Html.Action("FriendsListShort", "User", new { Id = Model.Id })
        </div>
    }
</div>

@if (ViewBag.EditMode == true)
{
    @Html.Partial("EditProfileBox", new EditProfileModel { Name = Model.Name, Email = Model.Email }, new ViewDataDictionary())
    @Html.Partial("SetAvatarBox", Model, new ViewDataDictionary())
    @Html.Partial("ChangePasswordBox", null, new ViewDataDictionary())
}
</div>