@model Tuple<HeadComment, Paragraph, Book>
@{
    Layout = null;
}

<a href="@Url.Action("View", "Book", new { Id = Model.Item2.Book_Id, skip = Model.Item2.OrderNumber - 1 })" 
    class="paragraph_content">
 @if (Model.Item2 is ImageParagraph)
{
    var imgParagraph = Model.Item2 as ImageParagraph;
    var width = 250;
    var imgWidth = imgParagraph.Width;
    <img src="@imgParagraph.Url" alt="" width="@(imgWidth > width ? width : imgWidth)px" />
 }else{
     Html.Raw(Model.Item2.Content);
 }
</a>
@if (Model.Item1.Author != null)
{
    <a href="@Url.Action("View", "User", new { Id = Model.Item1.Author.Id })" class="userblock_avatar_link">
		@UserAvatar.Tiny(Model.Item1.Author, "userblock_avatar")
	</a>
    <a href="@Url.Action("View", "User", new { Id = Model.Item1.Author.Id })" class="userblock_name">@Model.Item1.Author.Name</a>
}
<a href="@Url.Action("View", "Book", new { Id = Model.Item2.Book_Id, skip = Model.Item2.OrderNumber - 1 })" 
    class="comment_content">@Model.Item1.Text</a>
@{
    var count = @Model.Item3.GetCommentsCountByAuthor(Model.Item1.Author_Id ?? 0, ViewBag.CurrentUserId);
    if (count > 1)
    {
<div class="commentCounter">еще <a href="@Url.Action("CommentsByUser", "Book", new { BookId = Model.Item3.Id, UserId = Model.Item1.Author_Id })" 
    class="commentCounter_counter">@(count - 1)</a> к этой книге
</div>
    }
}

<script type="text/javascript">
    $(function () {
        $('.paragraph_content').shorten({ limit: 200 });
        $('.comment_content').shorten({ limit: 200 });
    });
</script>