@model ChangePasswordModel
@{
    ViewBag.Title = "Изменить пароль";
}
<div id="main">
<h2>Изменить пароль</h2>

@using (Html.BeginForm<UserController>(x => x.ChangePassword(null, null),
      FormMethod.Post,
      new
      { @class = "ajaxForm errorable redirectable",
          id = "passwordBoxForm"
      }))
{
		<fieldset>
			@Html.LabelFor(x => x.OldPassword, "Текущий пароль")
			@Html.PasswordFor(x => x.OldPassword)
            @Html.ValidationMessageFor(x => x.OldPassword)

			<br />
			@Html.LabelFor(x => x.NewPassword, "Новый пароль")
			@Html.PasswordFor(x => x.NewPassword)
            @Html.ValidationMessageFor(x => x.NewPassword)
            
			<br />
			@Html.LabelFor(x => x.ConfirmNewPassword, "Подтвердите пароль")
			@Html.PasswordFor(x => x.ConfirmNewPassword)
            @Html.ValidationMessageFor(x => x.ConfirmNewPassword)
		</fieldset>
		<div id="errorMessage" class="errorMessage">@ViewBag.ErrorMessage</div>
		@Html.SubmitButton(null, "Отправить")
}
</div>