@model User
@{
    Layout = null;
}
@if (ViewBag.IsMyProfile == false)
{
    <div class="socialProfilesContainer">
        <div class="socialProfileItem" id="facebookProfile">
            @if (Model.FacebookProfileUrl != null)
            {
                <img src="@Url.Content("~/Content/img/logo/facebook-16.gif")" alt="Facebook" class="socialNetworkLogo"/>
                <a href="@Model.FacebookProfileUrl">@Model.FacebookUsername</a>
            }
        </div>
        <div class="socialProfileItem" id="vkontakteProfile">
            @if (Model.VkontakteProfileUrl != null)
            {
                <img src="@Url.Content("~/Content/img/logo/vkontakte-16.png")" alt="Vkontakte" class = "socialNetworkLogo"/>
                <a href="@Model.VkontakteProfileUrl">@Model.VkontakteUsername</a>
            }
        </div>
        <div class="socialProfileItem" id="twitterProfile">
            @if (Model.TwitterProfileUrl != null)
            {
                <img src="@Url.Content("~/Content/img/logo/twitter-16.gif")" alt="Twitter" class = "socialNetworkLogo"/>
                <a href="@Model.TwitterProfileUrl">@Model.TwitterUsername</a>
            }
        </div>
        <div class="socialProfileItem" id="yandexProfile">
            @if (Model.YandexProfileUrl != null)
            {
                <img src="@Url.Content("~/Content/img/logo/yandex.png")" alt="Yandex" class = "socialNetworkLogo"/>
                <a href="@Model.YandexProfileUrl">@Model.YandexUsername</a>
            }
        </div>
        <div class="socialProfileItem" id="livejournalProfile">
            @if (Model.LivejournalProfileUrl != null)
            {
                <img src="@Url.Content("~/Content/img/logo/livejournal-16.gif")" alt="Livejournal" class = "socialNetworkLogo"/>
                <a href="@Model.LivejournalProfileUrl">@Model.LivejournalUsername</a>
            }
        </div>
    </div>
}