@{
    ViewBag.Title = SideNotes.Resources.LivejournalLogin.GetNicknameTitle;
}
<div id="main">
<h2>@SideNotes.Resources.LivejournalLogin.GetNicknameHeading</h2>

<form method="post" action="@Url.Action("ProveAccount", "LivejournalLogin")">
<input type="hidden" name="callbackUri" value="@ViewBag.CallbackUri" />
@SideNotes.Resources.LivejournalLogin.GetNicknameYourNickMessage:
<input type="text" name="nickname" />
<input type="submit" value="@SideNotes.Resources.LivejournalLogin.GetNicknameSigninButtonText" />
</form>

</div>