@model Book
@{
    ViewBag.Title = "Комментарии";
}
@section HEAD{
    <script src="@Url.Content("~/Scripts/Feed.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/CommentatorsDropdown.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/CommentList.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/BookHeader.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ShareBlock.js")" type="text/javascript"></script>
    <style>
        .navigateDownButtonPressed
        {
            color: Grey;
        }
    </style>
    @if (!String.IsNullOrEmpty(Model.CustomStyles))
    {
        <style>
        @Html.Raw(Model.CustomStyles)
        </style>
    }
    @* Это нужно, чтобы боты не ходили по ссылкам, предназначенным для json запросов *@
    <meta name="robots" content="noindex" />
}
<div id="main" class="commentList">
@Html.Action("Header", "Feed", new { BookId = ViewBag.BookId })
<ul id="sortSelect_list">
	<li class="sortTypeTab sortSelect_item sortSelect_item_current" id="feedSortByDate">
		<a href="#" class="sortSelect_link">Свежие сверху</a>
	</li>
	<li class="sortTypeTab sortSelect_item" id="feedSortByText">
		<a href="#" class="sortSelect_link">В порядке повествования</a>
	</li>
</ul>

<div id="commentList_container" >
</div>
<div id="navigateDownButton" class="navigationButtonSmall">Ещё</div>

<div class="bookBlock" style="display:none;" id="paragraphTemplate">
    <span class="floatDummy">&nbsp;</span>
    <div class="commentAdd_container">
		<div class="commentCounter">
			@*<a href="javascript:void(0)" class="commentCounter_counter showLightBox_link addHeadLink positionBoxAbsolute" 
                rel="@(/*7ViewBag.IsAuthenticated ==*/ true ? "addHeadCommentBox" : "registerOrLoginBox")"
                >+</a>*@
		</div>
	</div>
    <div class="feedBlockLeft">
	    <div class="bookBlock_inner"></div>
        <div class="toTextButton">
            <a href="#" class="toTextButtonLink">Читать книгу с этого места</a>
        </div>
    </div>
    
    <div class="feedBlockRight">
        @*<div class="commentBlockFirst"></div>
        <div class="commentBlockList" style="display:none;"></div>
        <div class="extraComments" style="">
		    <a href="javascript:void(0)" class="extraCommentsLink"></a>
            <a href="javascript:void(0)" class="hideCommentsLink" style="display:none;">Скрыть</a>
	    </div>
        <div class="commentBlockLast"></div>*@
    </div>
</div>
@Html.Partial("CommentsListTemplates")

<script type="text/javascript">
    var bookBlockWidth = 390;
    var paragraphsUrl = '@Url.Action("Paragraphs", "Feed", new { Id = ViewBag.BookId })';
    var singleParagraphUrl = '@Url.Action("SingleParagraph", "Feed")';
    var paragraphCommentatorsUrl = '@Url.Action("ParagraphCommentators", "Feed", new { Id = ViewBag.ParagraphId })';
    var bookCommentatorsUrl = '@Url.Action("Commentators", "Feed", new { Id = ViewBag.BookId })';
    var commentsUrl = '@Url.Action("CommentsFiltered", "Feed")';
    var repliesCountUrl = '@Url.Action("GetRepliesCount", "Feed")';
    var commentCountUrl = '@Url.Action("CommentCount", "Feed")';
    
    var paragraphLengthLimit = 500;
    var SortType_ByOrderNumber = @((int)ParagraphSortType.ByOrderNumber);
    var SortType_ByRecentComments = @((int)ParagraphSortType.ByRecentComments);
    var currentSortType = SortType_ByOrderNumber;
    var currentPage = 1;
    var singleParagraphId = @(ViewBag.ParagraphId == null ? "null" : ViewBag.ParagraphId);
    var singleMode = singleParagraphId == null ? false : true;
    var commentatorsUrl = singleMode ? paragraphCommentatorsUrl : bookCommentatorsUrl;
    
    $(function () {
        var feed = new Feed();
        if(singleMode){
            feed.initParagraphFeed(singleParagraphId);
        }else{
            feed.initBookFeed();
        }

        
    });
</script>
</div>
@*@Html.Partial("AddHeadCommentBox")*@