@model Catalog
@{
    Layout = null;
}

<h2>@SideNotes.Resources.Catalog.ManageHeading</h2>

@if (Model.RootCategories.Any())
{
    <ul class="categoryList" style="padding-left:0; margin-bottom: 2em;">
        @foreach (var category in Model.RootCategories)
        {
            <li>@Html.Partial("ManageCategory", category)</li>
        }
    </ul>
}

<form action="@Url.Action("AddCategory", "Catalog")" method="post" class="ajaxForm reloadable addCategoryForm">
    <h2>@SideNotes.Resources.Catalog.ManageAddCategoryHeading</h2>
    <label>@SideNotes.Resources.Catalog.ManageParentCategoryFieldName</label> @Html.Partial("SelectCategory", Model.Index)
    <br/>
    <label>@SideNotes.Resources.Catalog.ManageCategoryNameFieldName</label> <input type="text" name="name" />
    <br/>
    <input type="submit" value="@SideNotes.Resources.Catalog.ManageAddCategorySubmitButtonText"/>
</form>

<div class="lightbox" id="editCategoryBox">
    <a href="#" class="lightbox_close">x</a>
    <form class="ajaxForm errorable reloadable" id="editCategoryBoxForm" method="post"
            action="@Url.Action("EditCategory", "Catalog")">
		<fieldset>
            <h2>@SideNotes.Resources.Catalog.ManageEditCategoryHeading</h2>
            <label>@SideNotes.Resources.Catalog.ManageParentCategoryFieldName</label> @Html.Partial("SelectCategory", Model.Index)
            <br/>
            <br/>
            <label>@SideNotes.Resources.Catalog.ManageCategoryNameFieldName</label> <input type="text" name="name" />
            <input type="hidden" name="Id"/>
		</fieldset>
		<div id="errorMessage" class="errorMessage"></div>
		<input type="submit" class="submitButton" value="@SideNotes.Resources.Catalog.ManageEditCategorySubmitButtonText"/>
        </form>
</div>

<script type="text/javascript">
    $(function () {
        $('.editCategoryLink').click(function () {
            $('#editCategoryBoxForm').find('input[name=Id]').val($(this).attr('categoryId'));
            $('#editCategoryBoxForm').find('input[name=name]').val($(this).siblings('.categoryName').text());
        });
    });
</script>