@model Tuple<Book, Catalog>
@{
    Layout = null;
}
<div class="bookCategories_management">
<ul class="categoryList" style="padding-left:0; margin-bottom: 2em;">
@foreach(var category in Model.Item1.Categories){
    <li><a href="@Url.Action("ManageCategoryContent", "Catalog", new { Id = category.Id})" class="categoryName">@category.Name</a>
        <form method="post" class="ajaxForm reloadable deleteCategoryForm"
            action="@Url.Action("RemoveBookCategory", "Catalog", new { BookId = Model.Item1.Id, CatId = category.Id })">
            <input type="submit" value="Удалить"/>
        </form> 
    </li>
}
</ul>
<br/>
<br/>
<form action="@Url.Action("AddBookCategory", "Catalog")" method="post" class="ajaxForm reloadable addCategoryForm">
    <h2>Добавить категорию</h2>
    <label>Категория</label> @Html.Partial("SelectCategory", Model.Item2.Index)
    <input type="hidden" name="BookId" value="@Model.Item1.Id"/>
    <input type="submit" value="Добавить"/>
</form>
</div>
