@model Tuple<Category, List<Book>>
@{
    ViewBag.Title = SideNotes.Resources.Catalog.ManageCategoryContentTitle + " " + Model.Item1.Name;
}
<div id="main">
<h2>@SideNotes.Resources.Catalog.ManageCategoryContentHeading @Model.Item1.Name</h2>

@if (Model.Item1.Books.Count + Model.Item2.Count == 0)
{
<span>@SideNotes.Resources.Catalog.ManageCategoryContentNoBooksMessage</span>
}
else
{
    if (Model.Item1.Books.Count > 0)
    {
<h3>@SideNotes.Resources.Catalog.ManageCategoryContentBooksInCategoryHeading</h3>
        <table>
        @foreach (var book in Model.Item1.Books)
        {
            <tr>
                <td>@{var url = Url.Action("EditBook", "BookAdmin", new { id = book.Id });
    
                    <a href="@url">@BookAvatar.Small(book, "book_avatar_small")</a>@:&nbsp;
                    <a href="@url" class="admin_bookname_link">@String.Format("{0} ({1})", book.Title, book.Author)</a>
                    }
                </td>
                <td>
                    <form method="post" action="@Url.Action("DeleteBook")">
                        <input type="hidden" name="Id" value="@book.Id"/>
                        <input type="submit" value="@SideNotes.Resources.Catalog.ManageCategoryContentDeleteButtonText" />
                    </form>
                </td>
                 
            </tr>
        }
        </table>
    }
    if (Model.Item2.Count > 0)
    {
        <h3>@SideNotes.Resources.Catalog.ManageCategoryContentBooksInChildCategoriesHeading</h3>
        <table>
        @foreach (var book in Model.Item2)
        {
            <tr>
                <td>@{var url = Url.Action("EditBook", "BookAdmin", new { id = book.Id });
    
                    <a href="@url">@BookAvatar.Small(book, "book_avatar_small")</a>@:&nbsp;
                    <a href="@url" class="admin_bookname_link">@String.Format("{0} ({1})", book.Title, book.Author)</a>
                    }
                </td>
                <td>
                    <form method="post" action="@Url.Action("DeleteBook")">
                        <input type="hidden" name="Id" value="@book.Id"/>
                        <input type="submit" value="@SideNotes.Resources.Catalog.ManageCategoryContentDeleteButtonText" />
                    </form>
                </td>
                 
            </tr>
        }
        </table>
    }
}
</div>