@model List<User>
@{
    ViewBag.Title = SideNotes.Resources.UserAdmin.MergeUsersTitle;
}

<div id="main">
<h2>@SideNotes.Resources.UserAdmin.MergeUsersHeading</h2>

<form action="@Url.Action("MergeUsers", "UserAdmin")" method="post">
    <table>
    <tr>
        <td>
            <select name="Id1">
            @foreach (var user in Model)
            {
                <option value="@user.Id">@user.Name</option>
            }
            </select>
        </td>
        <td>
            <select name="Id2">
            @foreach (var user in Model)
            {
                <option value="@user.Id">@user.Name</option>
            }
            </select>
        </td>
    </tr>
    </table>
    <input type="submit" value="@SideNotes.Resources.UserAdmin.MergeUsersSubmitButtonText" />
</form>
</div>

