@model Book
@{
    ViewBag.Title = Model.Title + "(" + Model.Author + ")";
}
@section HEAD{

}
<div id="main" class="book_contenttable">
    <div id="leftCol">
	    <div class="book_cover_container">
		    @BookAvatar.Medium(Model, "book_cover")
	    </div>
    </div>
    <div id="centerCol">
        <h1>@Model.Title</h1>
        <div class="book_author_list">
            <span>@Model.Author</span>
        </div>
        <a href="@Url.Action("Start", "Book", new { id = Model.Id })" class="annotation_OrangeButton annotation_OrangeButton_Read">@SideNotes.Resources.Book.AnnotationReadLinkText</a>
        @{
            var commentatorsCount = Model.GetCommentatorsCount(ViewBag.CurrentUserId);
            if (commentatorsCount > 0){
                <a href="@Url.Action("Index", "Feed", new { id = Model.Id })" class="annotation_OrangeButton annotation_OrangeButton_Comments">@SideNotes.Resources.Book.AnnotationCommentsLinkText</a>
            }
        }
        <div style="clear:both"></div>
        @if (!String.IsNullOrEmpty(Model.Annotation))
        {
            <div id="book_annotation">@Html.Raw(Model.Annotation)</div>
        }
        <div id="book_contents">
            @Html.Action("ContentsWithComments", "Book", new { Id = Model.Id })
        </div>
        @*@if (ViewBag.IsAuthenticated)
        {
                @Html.Action("Bookmarks", new { Id = Model.Id })
        }*@
    </div>
    <div id="rightCol">
        @{
            if (commentatorsCount > 0)
            {
                <div class="bestComment_container">
                    @*<img src="../../Content/img/quote.png" class="bestCommentQuote" />*@
                    @Html.Action("BestComment", "Book", new { Id = Model.Id })
                </div>
            }

            if (commentatorsCount > 0)
            {
                <div id="commentatorsList_container">
                    <h2>@SideNotes.Resources.Book.AnnotationCommentatorsHeading</h2>
                    @Html.Action("SelectedCommentators", "Book", new { Id = Model.Id })

                    <span>@SideNotes.Resources.Book.AnnotationCommentCountMessage 
                        <a href="@Url.Action("Commentators", "Book", new { Id = Model.Id })">@commentatorsCount @InclineService.Commentator(commentatorsCount)</a>
                    </span>
                </div>
            }
        }
        @{
            var commentsCount = Model.GetCommentsCount(ViewBag.CurrentUserId);
            if (commentsCount > 0)
            {
                <div id="recentCommentsList_container">
                    <h2>@SideNotes.Resources.Book.AnnotationRecentCommentsHeading</h2>
                    @Html.Action("RecentComments", "Book", new { BookId = Model.Id })

                    <span>@SideNotes.Resources.Book.AnnotationRecentCommentCountMessage 
                        <a href="@Url.Action("Index", "Feed", new { Id = Model.Id })">@commentsCount @InclineService.Comment(commentsCount)</a>
                    </span>
                </div>
            }
        }
    </div>
@*@if (!ViewBag.IsAuthenticated)
{
    <script type="text/javascript">
        $(function () {
            showUnclosableBox('socialLoginBox');
        });
    </script> 
    @Html.Partial("SocialLoginBox", new LoginModel())
}*@
<script type="text/javascript">
    
    $(function () {
        $('#book_annotation').shorten({ limit: 200, expandText: '@SideNotes.Resources.Book.AnnotationShowAllLinkText', collapseText: '@SideNotes.Resources.Book.AnnotationHideAllLinkText', breakLine: true });
    });
</script>
</div>