@using SideNotes.Extensions;
@using System.Web.Routing;
@model Tuple<Book, List<Bookmark>>
@{
    Layout = null;
}
@if (Model.Item2.Count > 0)
{

<table>
@foreach (var bookmark in Model.Item2)
{
    <tr class="bookmarkRow">
        <td>
            @Html.ActionLink(bookmark.Name, "View", "Book", new { Id = Model.Item1.Id, skip = bookmark.Paragraph.OrderNumber - 1 }, null)
        </td>
        <td>
            <form method="post" action="@Url.Action("RemoveBookmark", "Book")" class="ajaxForm removeBookmarkForm">
                <input type="hidden" name="bookmarkId" value="@bookmark.Id" />
                <input type="submit" value="@SideNotes.Resources.Book.BookmarksDeleteButtonText" class="submitButton" />
            </form>
        </td>
    </tr>
}
</table>
}
else
{
    <span>@SideNotes.Resources.Book.BookmarksNoBookmarksMessage</span>
}
<script type="text/javascript">
    $('.removeBookmarkForm').each(function () {
        var form = this;
        this.success = function () {
            $(form).closest('.bookmarkRow').remove();
            $('#lightbox_shadow').click();
        }
    });
</script>