@model Paragraph
@{
    ViewBag.Title = SideNotes.Resources.Book.CommentsThreadTitle;
}
@section HEAD{
    <script src="@Url.Content("~/Scripts/BookHeader.js")" type="text/javascript"></script>
}
<div id="main" class="commentThread">
@Html.Partial("Header", Model.Book)
<div class="bookBlock">
    @Abzats.Render(Model)
</div>
@Html.ActionLink(SideNotes.Resources.Book.CommentsThreadReadFromHereLinkText, "View", "Book",
            new { id = Model.Book_Id, skip = Model.OrderNumber - 1 }, new { @class = "toTextButtonLink" })

@Html.Action("HeadIndex", "Comment", new { headCommentId = ViewBag.HeadCommentId })
</div>