@using SideNotes.Extensions;
@using System.Web.Routing;
@model Tuple<List<User>,List<User>,List<User>>

@if (Model.Item1.Any() || Model.Item2.Any() || Model.Item3.Any())
{
    <span class="helperMessage">@SideNotes.Resources.Book.CommentatorsReadAllFromUserMessage</span>

    if (ViewBag.IsAuthenticated == true && Model.Item2.Any())
    {
        <h2>@SideNotes.Resources.Book.CommentatorsFriendsHeading</h2>
        <div class="avatarblock">
        @foreach (var user in Model.Item2)
        {
            <a href="@Url.Action("CommentsByUser", "Book", new { Id = ViewBag.BookId, UserId = user.Id }, true)">@UserAvatar.Small(user, "user_avatar")</a>
        }
        </div>
    }

    if (Model.Item1.Any())
    {
        <h2>@SideNotes.Resources.Book.CommentatorsCelebritiesHeading</h2>
        <div class="avatarblock">
        @foreach (var user in Model.Item1)
        {
            <a href="@Url.Action("CommentsByUser", "Book", new { Id = ViewBag.BookId, UserId = user.Id }, true)">@UserAvatar.Small(user, "user_avatar")</a>
        }
        </div>
    }
    if (Model.Item3.Any())
    {
        if ((ViewBag.IsAuthenticated == true && Model.Item2.Any()) || Model.Item1.Any())
        {
            <h2>@SideNotes.Resources.Book.CommentatorsRestHeading</h2>
        }
        <div class="avatarblock">
        @foreach (var user in Model.Item3)
        {
            <a href="@Url.Action("CommentsByUser", "Book", new { Id = ViewBag.BookId, UserId = user.Id }, true)">@UserAvatar.Small(user, "user_avatar")</a>
        }
        </div>
    }
}
