@model Tuple<List<User>,List<User>,List<User>>

@if (Model.Item1.Any() || Model.Item2.Any() || Model.Item3.Any())
{
    <span class="helperMessage">Нажмите на аватар, чтобы прочитать все комментарии пользователя</span>

    if (ViewBag.IsAuthenticated == true && Model.Item2.Any())
    {
        <h2>Друзья</h2>
        <div class="avatarblock">
        @foreach (var user in Model.Item2)
        {
            <a href="@Url.Action("CommentsByUser", "Book", new { BookId = ViewBag.BookId, UserId = user.Id })">@UserAvatar.Small(user, "user_avatar")</a>
        }
        </div>
    }

    if (Model.Item1.Any())
    {
        <h2>Знаменитости</h2>
        <div class="avatarblock">
        @foreach (var user in Model.Item1)
        {
            <a href="@Url.Action("CommentsByUser", "Book", new { BookId = ViewBag.BookId, UserId = user.Id })">@UserAvatar.Small(user, "user_avatar")</a>
        }
        </div>
    }
    if (Model.Item3.Any())
    {
        if ((ViewBag.IsAuthenticated == true && Model.Item2.Any()) || Model.Item1.Any())
        {
            <h2>Остальные</h2>
        }
        <div class="avatarblock">
        @foreach (var user in Model.Item3)
        {
            <a href="@Url.Action("CommentsByUser", "Book", new { BookId = ViewBag.BookId, UserId = user.Id })">@UserAvatar.Small(user, "user_avatar")</a>
        }
        </div>
    }
}
