@using SideNotes.Extensions;
@using System.Web.Routing;
@model Tuple<List<User>,List<User>,List<User>>
<div id="main">
<div id="leftCol">
	<div class="book_cover_container">
@BookAvatar.Medium(ViewBag.Book, "book_cover")
	</div>
</div>
<div id="centerCol">
    <h1>@ViewBag.Book.Title</h1>
    <div class="book_author_list">
    <span>@ViewBag.Book.Author</span>
    </div>
    @Html.ActionLink(SideNotes.Resources.Book.CommentatorsPageAnnotationLinkText, "Annotation", "Book", new { id = ViewBag.BookId }, null)
    <br/>
    @Html.ActionLink(SideNotes.Resources.Book.CommentatorsPageReadLinkText, "Start", "Book", new { id = ViewBag.BookId }, new { @class = "book_buyLinkLarge" })
    <br/>

    @if (Model.Item1.Any() || Model.Item2.Any() || Model.Item3.Any())
    {
        <span class="helperMessage">@SideNotes.Resources.Book.CommentatorsPageReadAllFromUserMessage</span>

        if (ViewBag.IsAuthenticated == true && Model.Item2.Any())
        {
            <h2>@SideNotes.Resources.Book.CommentatorsPageFriendsHeading</h2>
            <div class="avatarblock">
            @foreach (var user in Model.Item2)
            {
                <a href="@Url.Action("CommentsByUser", "Book", new { BookId = ViewBag.BookId, UserId = user.Id }, true)">@UserAvatar.Small(user, "user_avatar")</a>
            }
            </div>
        }

        if (Model.Item1.Any())
        {
            <h2>@SideNotes.Resources.Book.CommentatorsPageCelebritiesHeading</h2>
            <div class="avatarblock">
            @foreach (var user in Model.Item1)
            {
                <a href="@Url.Action("CommentsByUser", "Book", new { BookId = ViewBag.BookId, UserId = user.Id }, true)">@UserAvatar.Small(user, "user_avatar")</a>
            }
            </div>
        }
        if (Model.Item3.Any())
        {
            if ((ViewBag.IsAuthenticated == true && Model.Item2.Any()) || Model.Item1.Any())
            {
                <h2>@SideNotes.Resources.Book.CommentatorsPageRestHeading</h2>
            }
            <div class="avatarblock">
            @foreach (var user in Model.Item3)
            {
                <a href="@Url.Action("CommentsByUser", "Book", new { BookId = ViewBag.BookId, UserId = user.Id }, true)">@UserAvatar.Small(user, "user_avatar")</a>
            }
            </div>
        }
    }
    </div>
    </div>