@model Tuple<List<Book>, List<int>>
@{
    ViewBag.Title = "Книги";
}

<div id="main">
<h2>Книги</h2>

@if (Model.Item1.Count == 0)
{
    <span>Нет ни одной книжки</span>
}
else
{
<ul class="bookLongList">
@foreach (var book in Model.Item1)
{
    var url = Model.Item2.Contains(book.Id) ? Url.Action("Start", "Book", new { id = book.Id }) : Url.Action("Annotation", "Book", new { id = book.Id });
    <li class="bookLongListItem">
        <div class="prop" style="height:7em;"></div>
        <div style="float:left; margin-right:10px;">
            <a href="@url">@BookAvatar.Small(book, "book_avatar")</a>
        </div>
        <div class="bookLongListItemContainer">
                
            <div class="ListBookTitle"><a href="@url">@book.Title</a></div>
            <div class="ListBookAuthor"><a href="@url">(@book.Author)</a></div>
            @Html.ActionLink("Аннотация", "Annotation", "Book", new { Id = book.Id }, new { @class = "mainListAnnotationLink" })
                
        </div>
        <div class="clearBoth" ></div>
    </li>
}
</ul>
}

</div>