@using SideNotes.Extensions
@model Book
@{
    Layout = null;
}
<div class="toolbar_outer" id="toolbar">
    <a href="@Url.Action("Annotation", "Book", new {Id = Model.Id})#index" 
        rel="indexFrame" id="indexCommandLink">@SideNotes.Resources.Book.LeftFrameContentLinkText</a>
    <br/>
    <br/>
    @if (ViewBag.IsAuthenticated == true)
    {
    <a href="@Url.Action("Annotation", "Book", new { Id = Model.Id })#bookmarks"
       rel="bookmarksFrame" id="bookmarksCommandLink">@SideNotes.Resources.Book.LeftFrameBookmarksLinkText</a>
        <br/>
        <br/>
    }
        <a href="@Url.Action("Annotation", "Book", new { Id = Model.Id })#annotation"
           rel="annotationFrame" id="annotationCommandLink">@SideNotes.Resources.Book.LeftFrameAnnotationLinkText</a>
</div>
@LeftFrame.Render(SideNotes.Resources.Book.LeftFrameContentHeading, "indexFrame", "indexFrameInner", Url.ActionAbsolute("Contents", "Book", new { Id = Model.Id }).ToString())
@if (ViewBag.IsAuthenticated == true)
{
    @LeftFrame.Render(SideNotes.Resources.Book.LeftFrameBookmarksHeading, "bookmarksFrame", "bookmarksFrameInner", Url.ActionAbsolute("Bookmarks", "Book", new { Id = Model.Id }).ToString())
}
@LeftFrame.Render(SideNotes.Resources.Book.LeftFrameAnnotationHeading, "annotationFrame", "annotationFrameInner", Url.ActionAbsolute("AnnotationShort", "Book", new { Id = Model.Id }).ToString())
<script type="text/javascript">
    $(function () {
        $('#indexCommandLink, #bookmarksCommandLink, #annotationCommandLink')
        .attr('href', 'javascript:void(0)')
        .click(function () {
            initFrame($(this).attr('rel'));
        });
        
    });
</script>