@model NavigationModel
@{
    Layout = null;
}
<div class="navigationMenu">
@if (Model.HasPrevious)
{
    @Html.ActionLink("Начало", "View", new { id = Model.BookId, skip = 0 })
    @:&nbsp;|&nbsp;
}
@if (Model.HasPrevious)
{
    @Html.ActionLink("<- Назад", "View", new { id = Model.BookId, skip = Model.PreviousStart })
    @:&nbsp;|&nbsp;
}
@if (Model.HasNext)
{
    @Html.ActionLink("Дальше ->", "View", new { id = Model.BookId, skip = Model.NextStart })
    @:&nbsp;|&nbsp;
}
    @Html.ActionLink("Аннотация", "Annotation", new { id = Model.BookId})
    &nbsp;|&nbsp;
    @Html.ActionLink("Комментарии", "Index", "Feed", new { id = Model.BookId}, null)
</div>