@model NavigationModel
@{
    Layout = null;
}
<div class="navigationMenu">
@if (Model.HasPrevious)
{
    @Html.ActionLink(SideNotes.Resources.Book.NavigationBeginningLinkText, "View", new { id = Model.BookId, skip = 0 })
    @:&nbsp;|&nbsp;
}
@if (Model.HasPrevious)
{
    @Html.ActionLink("<- " + SideNotes.Resources.Book.NavigationBackwardsLinkText, "View", new { id = Model.BookId, skip = Model.PreviousStart })
    @:&nbsp;|&nbsp;
}
@if (Model.HasNext)
{
    @Html.ActionLink(SideNotes.Resources.Book.NavigationForwardsLinkText + " ->", "View", new { id = Model.BookId, skip = Model.NextStart })
    @:&nbsp;|&nbsp;
}
    @Html.ActionLink(SideNotes.Resources.Book.NavigationAnnotationLinkText, "Annotation", new { id = Model.BookId})
    &nbsp;|&nbsp;
    @Html.ActionLink(SideNotes.Resources.Book.NavigationCommentsLinkText, "Index", "Feed", new { id = Model.BookId}, null)
</div>