@model Tuple<Book, NavigationModel>
@{
    ViewBag.Title = Model.Item1.Title + "(" + Model.Item1.Author + ")";
}
@section HEAD{
    @if (!String.IsNullOrEmpty(Model.Item1.MetaKeywords)){
        <meta name="keywords" content="@Model.Item1.MetaKeywords" /> 
    }
    @if (!String.IsNullOrEmpty(Model.Item1.MetaDescription)){
        <meta name="description" content="@Model.Item1.MetaDescription" />
    }
    <link rel="canonical" href="@Url.ActionAbsolute("View", "Book", new { Id = Model.Item1.Id})"/>
    @*<script src="@Url.Content("~/Scripts/ToolBar.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/LeftFrame.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/RightFrame.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/BookPage.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/BookHeader.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/CommentList.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/CommentInfo.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/CommentatorsDropdown.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ShareBlock.js")" type="text/javascript"></script>
    @if (!String.IsNullOrEmpty(Model.Item1.CustomStyles))
    {
        <style>
        @Html.Raw(Model.Item1.CustomStyles)
        </style>
    }
}
<div id="main" class="readBook">

@*@if (ViewBag.IsAuthenticated == true)
{
    @Html.Partial("AddBookmarkBox", null, new ViewDataDictionary())
}*@
@*@Html.Partial("LeftFrame", Model.Item1)
@Html.Partial("RightFrame", Model.Item1)*@



@Html.Partial("Header", Model.Item1)



<div id="book_container" pageSize="@ViewBag.PageSize">
@*@Html.Partial("Navigation", Model.Item2)*@
<div class="navigationButton" navigationUrl="@Url.Action("Page", "Book", new { Id = Model.Item1.Id })" 
    id="navigateUp" take="@ViewBag.PageSize">@SideNotes.Resources.Book.ViewNavigateUpButtonText</div>
@Html.Action("Page", "Book", new { Id = Model.Item1.Id, skip = Model.Item2.CurrentStart })
<br/>
<br/>
<div class="navigationButton" navigationUrl="@Url.Action("Page", "Book", new { Id = Model.Item1.Id })"
     id="navigateDown" take="@ViewBag.PageSize">@SideNotes.Resources.Book.ViewNavigateDownButtonText</div>
@*@Html.Partial("Navigation", Model.Item2)*@
</div>
<div class="userblock" id="userblockTemplate" style="display:none;">
	<a href="#" class="userblock_avatar_link">
		<img class="userblock_avatar">
	</a>
	<a href="#" class="userblock_name"></a>
</div>
@*@Html.Partial("AddHeadCommentBox")*@
@Html.Partial("CommentsListTemplates")
<script type="text/javascript">
    var commentatorsUrl = '@Url.Action("Commentators", "Feed", new { Id = Model.Item1.Id })';
    var feedUrl = '@Url.Action("Index", "Feed", new { Id = Model.Item1.Id })';
    var commentsUrl = '@Url.Action("CommentsFiltered", "Feed")';
    var repliesCountUrl = '@Url.Action("GetRepliesCount", "Feed")';
    var commentCountUrl = '@Url.Action("CommentCount", "Feed")';
    var commentCountListUrl = '@Url.Action("CommentCountList", "Feed")';
    var prevCommentUrl = '@Url.Action("PreviousCommentedParagraph", "Book", new { BookId = Model.Item1.Id })';
    var nextCommentUrl = '@Url.Action("NextCommentedParagraph", "Book", new { BookId = Model.Item1.Id })';
    var popupUrl = '@Url.Action("EntityCommentators", "Comment", new { entityType = (int)EntityType.Paragraph })';
    var popupListUrl = '@Url.Action("EntityCommentatorsList", "Comment", new { entityType = (int)EntityType.Paragraph })';
    var hasPreviousPage = @(Model.Item2.HasPrevious == true ? "true" : "false")

    var expanded = @(ViewBag.Expanded ? Model.Item2.CurrentStart + 1: -1);
    $(function () {
        var bookPage = new BookPage(feedUrl, commentatorsUrl, popupUrl, popupListUrl, commentCountUrl, commentCountListUrl);
        bookPage.initParagraphs($('#book_container .bookBlock'));
        if(expanded > 0){
            bookPage.commentatorsLoaded(function(){
                var bookBlock = $('.bookBlock[orderNumber='+expanded+']');

                var addCommentLink = bookBlock.find('.addHeadLink');
                addCommentLink.click();
            });
        }
    });
    var siteHeaderHeight = 0;
    var bookHeaderHeight = 0;
    var scrollUpLimit = 0;
    $(function () {
        $('#header').css({'position':'fixed', 'left':'0px'});
        $('#book_header').css({'position':'fixed',
                        'width':'65.3em',
                        'margin':'0 auto',
                        'background-color':'#fff',
                        'z-index':'20',
                        'top': '0px'}).prepend('<div style="height:3.2em;"></div>');
        $('#book_container').prepend('<div style="height:9.5em;"></div>');
        siteHeaderHeight =$('#header').height();
        bookHeaderHeight =$('#book_header').height();
        scrollUpLimit = $('#navigateUp').height() + 10;
    });
    var scrollTop = 0;
    var siteHeaderTop = 0;
    var bookHeaderTop = 0;
    $(function () {
        if(hasPreviousPage == true){
            window.scrollBy(0, scrollUpLimit);
        }
        $(window).scroll(function () {
            if ($(document).height() - $(window).height() <= $(window).scrollTop() + 50) {
                $('#navigateDown:visible').click();
            }
        });
        $(window).scroll(function () {
            if ($(window).scrollTop() < scrollUpLimit) {
                $('#navigateUp:visible').click();
            }
        });
        $(window).scroll(function () {
            var topDelta = scrollTop - $(window).scrollTop();
            
            var newTop = siteHeaderTop + topDelta;
            if(newTop < -siteHeaderHeight) newTop = -siteHeaderHeight;
            else if(newTop > 0) newTop = 0;
            $('#header').css('top', siteHeaderTop + 'px');
            siteHeaderTop = newTop;

            var newBookHeaderTop = bookHeaderTop + topDelta;
            if(newBookHeaderTop < -bookHeaderHeight) newBookHeaderTop = -bookHeaderHeight;
            else if(newBookHeaderTop > 0) newBookHeaderTop = 0;
            $('#book_header').css('top', bookHeaderTop + 'px');
            bookHeaderTop = newBookHeaderTop;
            scrollTop = $(window).scrollTop();
        });
    });
    
</script>
@*@if (!ViewBag.IsAuthenticated)
{
    <script type="text/javascript">
        $(function () {
            showUnclosableBox('socialLoginBox');
        });
    </script> 
    @Html.Partial("SocialLoginBox", new LoginModel())
}*@
</div>